.box-container {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  .box {
    padding: 1rem;
    background-color: white;
    flex-grow: 1;
    min-height: 100px;
  }
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
