<main>
  <header class="d-flex justify-content-between align-items-center">
    <p class="h5">Subjects</p>
  </header>
  <div class="box-container">
    <div class="box box-1">
      <h5>{{ getRequest().length }}</h5>
      <p class="text-warning">REQUESTS</p>
    </div>
    <div class="box box-2">
      <h5>{{ getAccepted().length }}</h5>
      <p class="text-success">ACCEPTED</p>
    </div>
    <div class="box box-3">
      <h5>{{ getRejected().length }}</h5>
      <p class="text-danger">REJECTED</p>
    </div>
  </div>
  <div
    style="
      margin: 1rem;
      padding: 1rem;
      background-color: white;
      border-radius: 20px;
      height: 100%;
    "
  >
    <h4 class="text-primary">Enrollments</h4>
    <table class="table table-hover table-borderless table-lg">
      <thead>
        <tr>
          <th scope="col">Student ID</th>
          <th
            scope="col
        "
          >
            Fullname
          </th>
          <th scope="col">Academics</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let student of students$">
          <td>{{ student.id }}</td>
          <td>
            {{
              student.studentInfo.lastname +
                " " +
                student.studentInfo.firstName +
                " " +
                student.studentInfo.middleName
            }}
          </td>
          <td>{{ student.academics.length }}</td>
          <td>{{ student.status }}</td>
          <td>
            <button
              class="btn btn-outline-success btn-sm me-3"
              *ngIf="getEnrollmentRequestPerStudent(student).length != 0"
              (click)="navigate(student)"
            >
              View Request
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
