.container-fluid {
  padding: 1rem;
  min-height: 100vh;
  .col {
    margin-bottom: 1rem;
    .box {
      padding: 1rem;
      background-color: white;
      height: 100%;
      width: 100%;
      border-radius: 7px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

/* Custom hover styles for list items */
.list-group-item:hover {
  background-color: #f8f9fa; /* Add your desired background color on hover */
  /* Add any other styles you want to apply on hover */
}
