<div
  *ngIf="LOADING; else main"
  class="d-flex justify-content-center h-100 d-flex justify-content-center"
>
  <h5>Loading.....</h5>
</div>
<ng-template #main>
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col col-8" style="flex-grow: 1">
        <div class="row">
          <div class="col">
            <div class="box">
              <p class="mb-4">
                <span class="text-primary font-italic me-1"
                  >LEARNER INFORMATION</span
                >
              </p>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.first_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Middle name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.middle_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.last_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Extension Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.extension_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.gender }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Birthday</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.birth_date }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Age</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ computeAge(student?.birth_date!.toString()) }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nationality</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.nationality }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ student?.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- address -->
        <div class="row">
          <div class="col">
            <div class="box">
              <p class="mb-4">
                <span class="text-primary font-italic me-1"
                  >LEARNER ADDRESS</span
                >
              </p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- contacts -->
        <div class="row">
          <div class="col">
            <div class="box">
              <p class="mb-4">
                <span class="text-primary font-italic me-1"
                  >PARENTS/GUARDIAN INFORMATION</span
                >
              </p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- profile -->
      <div class="col col-4 d-flex flex-column" style="flex-grow: 1">
        <div class="row">
          <div class="col">
            <div class="box">
              <div class="d-flex">
                <img
                  [src]="[
                    student?.profile ?? '../../assets/images/employee.jpg'
                  ]"
                  class="rounded-image"
                  alt="Profile Image"
                  width="100px"
                  height="100px"
                  style="border-radius: 50%"
                />
                <div class="p-3">
                  <h5>
                    {{ student?.first_name }} {{ student?.middle_name }}
                    {{ student?.last_name }}
                  </h5>
                  <p class="h6 text-muted">{{ student?.lrn }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Enrollment Request -->
        <div class="row">
          <div class="col">
            <div class="box">
              <p class="mb-4">
                <span class="text-primary font-italic me-1"
                  >ENROLLMENT REQUEST</span
                >
              </p>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Grade Level</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ enrollmentData?.grade_level ?? "NA" }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">School Year</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ enrollmentData?.school_year ?? "NA" }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Track - Strand</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ enrollmentData?.track ?? "NA" }} -
                    {{ enrollmentData?.strand ?? "NA" }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Sem</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ enrollmentData?.semester ?? "NA" }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row mb-3">
                <div class="col-sm-3">
                  <p class="mb-0">Date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ enrollmentData?.enrollment_date }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col text-start">
                  <button
                    class="btn btn-danger"
                    (click)="updateEnrollmentStatus(3)"
                  >
                    Decline
                  </button>
                </div>
                <div class="col text-end">
                  <button
                    class="btn btn-success"
                    (click)="updateEnrollmentStatus(1)"
                  >
                    Accept Enrollment
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="flex-grow: 1">
          <div class="col">
            <div class="box h-100">
              <div class="d-flex justify-content-between">
                <span class="text-primary">ENROLLED SUBJECTS</span>
                <button class="btn btn-outline-success">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-folder-plus"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z"
                    />
                    <path
                      d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z"
                    />
                  </svg>
                </button>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<app-toast [toast]="toast"></app-toast>
